.hero-section {
    padding: 0 50px;
    margin-top: 71px;
}

.hero-section article:first-child h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.hero-section article p {
    font-size: 18px;
    width: 400px;
}

.hero-section article .socials {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 0;
}

.hero-section article .socials li a i {
    font-size: 28px;
    color: white;
}

.hero-section article .socials li a i:hover {
    color: rgba(185, 185, 185);
}

.hero-section article p:first-of-type span {
    font-size: 20px;
    background: linear-gradient(to right, #5762c6, #6370e2, #6f7dfa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section article span {
    font-weight: bold;
}

.hero-section article:nth-child(2) span {
    font-size: 40px;
    background: linear-gradient(to right, #5762c6, #6370e2, #6f7dfa);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-section {
    display: flex;
}

.hero-section article {
    flex-basis: 50%;
}

.hero-section article:nth-child(2) h3 {
    text-align: center;
}

.hero-section article:nth-child(2) div {
    text-align: center;
}

.hero-section article:nth-child(2) {
    align-self: center;
}

.hero-section article:nth-child(2) h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.btn {
    background-color: #6370e2;
    border: none;
    padding: 10px;
    font-size: 20px;
    font-family: Poppins;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.btn:hover {
    box-shadow: 8px 11px 97px -6px rgba(0,0,99,1);
    background-color: #6f7dfa;
}

.education-section {
    display: flex;
    margin-top: 70px;
    align-items: center;
}

.education-section article {
    flex-basis: 50%;
}

.education-section article:nth-of-type(2) {
    padding-left: 40px;
}

.education-section article:nth-child(2) h3 {
    margin-bottom: 0;
}

.education-section article:nth-child(2) p:nth-of-type(1) {
    margin-top: 5px;
    color: rgb(122, 121, 121);
}

.education-section article:nth-child(1) {
    position: relative;
    display: flex;
    justify-content: center;
    animation-name: certificates-animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes certificates-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.education-section article:nth-child(1) div {
    width: 200px;
    height: 250px;
}

.education-section article:nth-child(1) div img {
    width: 100%;
    height: 100%;
    filter: grayscale(30%) blur(1px);
    border-radius: 5px;
    border: 2px solid white;
    transition: transform 0.2s linear;
}

.education-section article:nth-child(1) div img:hover {
    cursor: pointer;
    filter: none;
    transform: scale(1.05); 
}

.education-section article:nth-child(1) div:nth-of-type(2) {
    scale: 1.1;
    position: relative;
    z-index: 1;
}

.education-section article:nth-child(2) h3 {
    font-size: 30px;
}

.education-section article:nth-child(2) p {
    font-size: 18px;
}

.education-section article:nth-child(2) p:nth-of-type(2) {
    width: 90%;
}

@media (max-width: 800px) {
    .hero-section {
        gap: 60px;
    }

    .hero-section article:first-child {
        text-align: center;
        margin: 0 auto;
    }

    .hero-section article .socials {
        justify-content: center;
    }

    .hero-section {
        flex-direction: column;
    }
}

@media (max-width: 520px) {
    .hero-section article p {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .education-section {
        flex-direction: column;
    }

    .education-section article:nth-child(2) {
        text-align: center;
        margin-bottom: 25px;
        padding: 0;
    }

    .education-section article:nth-child(2) p:nth-of-type(2) {
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width: 650px) {
    .education-section article:nth-child(1) div {
        width: 150px;
        height: 200px;
    }
}

@media (max-width: 500px) {
    .education-section article:nth-child(1) div {
        width: 120px;
        height: 170px;
    }
}