html {
    scroll-behavior: smooth;
}

.header {
    border-bottom: 1px solid;

    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    z-index: 1000;
}

.header::before {
    content: '';
    width: 100%;
    height: 99%;
    position: absolute;
    z-index: -1;
    backdrop-filter: blur(2px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 20px;
}

.navbar p i {
    transition: all 0.3s ease-out;
}

.navbar p:hover i{
    scale: 1.1;
    transform: rotate(-20deg);
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.menu a {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    cursor: pointer;
    background-color: rgb(122, 121, 121, 0.4);
}

#dropdown-menu {
    display: none;
}

.mobile-menu {
    display: none;
}

@media (max-width: 625px) {
    .menu {
        display: none;
    }

    .menu-container {
        align-self: center;
        position: relative;
    }

    #dropdown-menu {
        display: block;
    }

    .mobile-menu {
        display: none;
        position: absolute;
        right: 0;
        background-color: rgb(122, 121, 121);
    }

    .mobile-menu a {
        display: inline-block;
        padding: 10px;
        color: white;
        width: 100px;
        text-decoration: none;
    }
}