.card {
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: #1a1d35;
    border-radius: 5px;
    overflow: hidden;
}

.card-header {
    height: 150px;
}

.card-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-content {
    flex-grow: 1;
    padding: 10px;
}

.card-content h3 {
    font-size: 20px;
    text-align: center;
}

.card-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card-footer a {
    color: #fff;
}

.btn-card {
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-card:hover {
    background-color: rgb(122, 121, 121, 0.4);
}